@model Clientes.Models.Cliente
@{
    ViewBag.Title = "Editar Cliente";
}

<h2>Cadastrar</h2>
<div class="row">
    <form method="POST" action="@Url.Action("SalvarEdicao","Cliente")">
        <input type="hidden" name="tipo_cliente" value="@Model.TipoCliente" />
        <input type="hidden" name="id_cliente" value="@Model.Id_cliente" />
        <input type="hidden" name="id_endereco" value="@Model.Endereco.IdEndereco" />
        
        @if (Model.TipoCliente == "fisica")
        {
            <div id="pessoa_fisica">
                <div class="form-group col-md-12">
                    <label for="cpf">CPF <span class="text-danger">*</span></label>
                    <input type="text" name="documento" id="cpf" class="form-control" required value="@Model.Documento" />
                </div>

                <div class="form-group col-md-12">
                    <label for="nome">Nome<span class="text-danger">*</span></label>
                    <input type="text" name="nome" id="nome" class="form-control" required value="@Model.Nome" />
                </div>

                <div class="form-group col-md-12">
                    <label for="sobrenome">Sobrenome <small>(máximo 15 caracteres)</small> <span class="text-danger">*</span></label>
                    <input type="text" name="sobrenome" id="sobrenome" class="form-control" maxlength="15" value="@Model.Sobrenome" />
                </div>

                <div class="form-group col-md-12">
                    <label for="nascimento">Data de Nascimento<span class="text-danger">*</span></label>
                    <input type="date" name="nascimento" id="nascimento" class="form-control" />
                </div>
            </div>
        }
        else
        {
            <div id="pessoa_juridica">
                <div class="form-group col-md-12">
                    <label for="cnpj">CNPJ <span class="text-danger">*</span></label>
                    <input type="text" name="documento" id="cnpj" class="form-control" value="@Model.Documento" />
                </div>

                <div class="form-group col-md-12">
                    <label for="razao_social">Razão Social <span class="text-danger">*</span></label>
                    <input type="text" name="razao_social" id="razao_social" class="form-control" value="@Model.RazaoSocial" />
                </div>

                <div class="form-group col-md-12">
                    <label for="nome_fantasia">Nome Fantasia <span class="text-danger">*</span></label>
                    <input type="text" name="nome" id="nome_fantasia" class="form-control" value="@Model.Nome" />
                </div>

            </div>
        }




        <div class="form-group col-md-4">
            <label for="cep">CEP <span class="text-danger">*</span></label>
            <input type="text" name="cep" id="cep" class="form-control" maxlength="8" value="@Model.Endereco.Cep" required />
        </div>

        <div class="form-group col-md-6">
            <label for="logradouro">Logradouro <span class="text-danger">*</span></label>
            <input type="text" name="logradouro" id="logradouro" class="form-control" required value="@Model.Endereco.Logradouro" />
        </div>

        <div class="form-group col-md-2">
            <label for="numero">Nº <span class="text-danger">*</span></label>
            <input type="text" name="numero" id="numero" class="form-control" required value="@Model.Endereco.Numero" />
        </div>

        <div class="form-group col-md-5">
            <label for="bairro">Bairro <span class="text-danger">*</span></label>
            <input type="text" name="bairro" id="bairro" class="form-control" required value="@Model.Endereco.Bairro" />
        </div>

        <div class="form-group col-md-5">
            <label for="cidade">Cidade <span class="text-danger">*</span></label>
            <input type="text" name="cidade" id="cidade" class="form-control" required value="@Model.Endereco.Cidade" />
        </div>

        <div class="form-group col-md-2">
            <label for="uf">UF <span class="text-danger">*</span></label>
            <input type="text" name="uf" id="uf" class="form-control" maxlength="8" required value="@Model.Endereco.Uf" />
        </div>

        <div class="form-group col-md-12">
            <label for="complemento">Complemento</label>
            <input type="text" name="complemento" id="complemento" class="form-control" value="@Model.Endereco.Complemento" />
        </div>

        <div class="form-group col-md-12">
            <button class="btn btn-primary"><i class="glyphicon glyphicon-save"></i> Salvar</button>
        </div>
    </form>
</div>