@model Clientes.ViewModels.ClientesViewModel
@{
    ViewBag.Title = "Gerenciador de Clientes";
}

<div class="container">
    <div class="row">
        <h1>Clientes</h1>
        <a href="@Url.Action("Cadastrar","Cliente")" class="btn btn-warning pull-right"><i class="glyphicon glyphicon-plus"></i> Adicionar</a>
        <div class="clearfix"></div>
        
        <div class="col-md-6">
            <h3>Pessoa Jurídica</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>CNPJ</th>
                        <th>Razão Social</th>
                        <th>Nome Fantasia</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ClientesPJ.Count == 0)
                    {
                        <tr><td colspan="4">Nenhum cadastro retornado.</td></tr>
                    }
                    else
                    {
                        foreach (var pessoaPJ in Model.ClientesPJ)
                        {
                            <tr>
                                <td>@pessoaPJ.Documento</td>
                                <td>@pessoaPJ.RazaoSocial</td>
                                <td>@pessoaPJ.Nome</td>
                                <td>
                                    <a title="Editar" href="@Url.Action("Editar","Cliente", new { id = pessoaPJ.Id_cliente })" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i></a>
                                    <button onclick="excluirCliente('@pessoaPJ.Id_cliente')" title="Excluir" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></button>
                                </td>
                            </tr>
                        }
                    }


                    <tr>
                </tbody>
            </table>
        </div>

        
        <div class="col-md-6">
            <h3>Pessoa Física</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>CPF</th>
                        <th>Nome</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ClientesPF.Count == 0)
                    {
                        <tr><td colspan="3">Nenhum cadastro retornado.</td></tr>
                    }
                    else
                    {
                        foreach (var pessoaPF in Model.ClientesPF)
                        {
                            <tr>
                                <td>@pessoaPF.Documento</td>
                                <td>@pessoaPF.Nome</td>
                                <td>
                                    <a title="Editar" href="@Url.Action("Editar","Cliente", new { id = pessoaPF.Id_cliente })" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i></a>
                                    <button onclick="excluirCliente('@pessoaPF.Id_cliente')" title="Excluir" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></button>
                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>